/* html, body, * ...*/
* {
    padding: 0;
    margin: 0;
    outline: none;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: Roboto Mono, Avenir Next, Roboto, Arial, Helvetica, sans-serif;
    background-color: #fff;
    height: 100%;
    margin: auto;
    color: #1c1c1c;
    max-width: 1360px;
}

@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #1c1c1c;
}



body {
    background-color: skyblue;
}

/* IDs */

#resetButton {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    margin: auto;
    display: none;
}

#resetButton:hover {
    cursor: pointer;
    border: 2px solid blue;
}

#userRoundOutputText {
    transition-delay: 2s;
}

/* Classes */


section:first-child {
    padding-top: 40px;
    padding-bottom: 20px;
    margin: auto;
    display: grid;
    place-content: center;
}

.createContainer:first-child {
    color: #fff;
    text-align: center;
    margin: auto;
}

.createContainer:first-child h1 {
    padding: 20px 0px;
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: 3px;
}

.createContainer:first-child p {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.createContainer:last-child {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}

.rpsButton {
    border-radius: 100%;
    padding: 25px 0px;
    margin: 10px 40px;
    border: 3px solid #fff;
    background-color: orange;
    color: #fff;
}

.rpsButton:hover {
    background-color: darkorange;
    cursor: pointer;
    border: 3px solid blue;
}

.rpsButton img {
    width: 50%;
}

.createFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.createUserOutputContainer {
    margin: auto;
    color: #fff;
    text-align: center;
}

.createUserOutputContainer {
    font-size: 2rem;
}

.createUserOutputContainer h2 {
    font-size: 2rem;
    font-weight: 500;
    padding: 20px;
}
.createUserOutputContainer h2:last-child {
    font-size: 3rem;
}

@media screen and (max-width: 750px) {
    .createContainer:first-child h1 {
        font-size: 2.5rem;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 500px) {
    .createContainer:first-child h1 {
        font-size: 2rem;
    }

    .createContainer:last-child {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

}

@media screen and (max-width: 400px) {
    .createContainer:first-child h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 350px) {
    .createContainer:first-child h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 300px) {
    .createContainer:last-child {
        display: grid;
        grid-template-columns: 1fr;
    }
}

